@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*Variáveis de cores*/
:root {
  --bg-main: #131313;
  --foreground: #f8f8f2;
  --cyan: #00ffe1;
  --cyan-light: #6be9dc;
  --white: #fff;

  /* Variáveis de brilho */
  --bg-main-brighter: brightness(150%);
  --cyan-brighter: brightness(120%);
  --cyan-darker: brightness(80%);
}

/*regras de cunho geral*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white)
}

body{
  background-color: var(--bg-main);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: var(--white);
}

.center{
  margin: 0 auto;
  width: 60%;
}

/* INICIO - Cabeçalho */
header{
  width: 100%;
  gap: 1.5rem;
}

.hero{
  display: flex;
  width: 100%;
  height: fit-content;
  gap:64px;
  align-items: flex-end;
}

.avatar{
  height:400px;
  width:50%;
  min-width: 250px;
  background: linear-gradient(to top, var(--cyan) 50%, var(--bg-main) 50%);
  padding: 0 24px;
  overflow: hidden;
  align-items: center;
}

.avatar > img{
  height:100%;
  min-width:300px;
  width:100%;
  object-fit: scale-down;
  object-position: bottom;
}

h1{
  font-size: 4rem;
  color: var(--cyan);
}
/* FIM - Cabeçalho */

/*INICIO - menu*/
.menu-container {
  background: var(--bg-main);
  filter: var(--bg-main-brighter);
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
}

.sticky{
  position: fixed;
  top: 0;
  right:0;
  z-index: 10;
  padding: 2rem 18rem;
  margin: 0 auto;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li{
  float: left;
}

.menu-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu-list a:hover{
  color: var(--cyan);
}

.active {
  border-bottom: 2px solid var(--cyan);
  color: var(--cyan);
  font-weight: bold;
  cursor: default;
}
/*FIM menu*/

/* INICIO FOOTER */
footer{
  display:flex;
  background-color: var(--bg-main);
  filter: var(--bg-main-brighter);
  height: 250px;
  width: 100%;
  margin-top: 4rem;
  color: var(--white);
}

.container-footer{
  display: flex;
  gap: 4rem
}

.container-footer > div{
  width: 50%;
}

.contact-link {
  color: var(--white);
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.5rem;
  align-items:center;
  text-transform: uppercase;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-link > img{
  height: 1rem;
  filter: invert(42%) brightness(150%);
}

.rights{
  font-size:1rem;
  color: #575757;
  font-weight: light;
  text-align: end;
  margin-top: 1rem;
}
/* FIM FOOTER */

h2{
  font-size: 3rem;
  border-left: 1rem solid var(--cyan);
  padding: 0 1rem;
  margin: 2rem 0;
}

h3{
  font-size: 2rem;
}

p{
  font-size: 1.25rem;
  line-height: 1.75rem;
}


.container-column{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.container-row{
  display:flex;
  gap:1rem;
}

.icon{
  height:3rem;
}

.button{
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 2rem;
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 1.25rem;
  width: fit-content;
}

.button>img{
  height:1rem;
}

.solid{
  background-color: var(--cyan);
  border: none;
  color: var(--bg-main)
}

.solid:hover{
  background-color: var(--cyan-light);
  filter: var(--cyan-darker);
  transition: filter 400ms ease;
}

.outline{
  background-color: transparent;
  border: 2px solid var(--cyan);
  color: var(--cyan);
}

.outline:hover{
  background-color: rgba(255,255,255,10%);
  filter: var(--cyan-brighter);
}

.hidden-left{
  opacity: 0;
  filter: blur(20px);
  transition: all 1s ease;
  transform: translateX(-50%);
}
.hidden-right{
  opacity: 0;
  filter: blur(20px);
  transition: all 1s ease;
  transform: translateX(50%);
}
.show{
  opacity: 1;
  filter: blur(0px);
  transition: all 1s ease;
  transform: translateX(0);
}



@media screen and (max-width: 1200px) {

  .hero{
    flex-direction: column;
    gap:12px;
    align-items: center;
    justify-content: center;
  }

  .container-row{
    flex-wrap: wrap;
  }

  .center{
    margin: 0;
    width: 100%;
  }

  .avatar{
    width: 90%;
    height:250px;
  }

  footer{
    height: 100%;
  }

  .container-footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem
  }

  .container-footer > div{
    width: 100%;
  }

  .menu-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
  }
  .sticky{
    padding: 2rem;
  }

  .hidden-left{
    opacity: 0;
    filter: blur(20px);
    transition: all 1s ease;
    transform: translateX(50%);
  }

  .hidden-right{
    opacity: 0;
    filter: blur(20px);
    transition: all 1s ease;
    transform: translateX(50%);
  }

  .show{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s ease;
    transform: translateX(0);
  }
}